body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: orangered;
}

.quem-somos{
    background-color: blue;
    color: black;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: 10px;
}

.parceiros{
    background-color: green;
    color: black;
}

.servicos {
    background-color:red;
    color: black;
}

.bg-footer{
    background-color: black;
    color: white;
}